.carousel-inner {
    height: 700px; /* ajustar según necesidad */
    object-fit: cover; /* Ajusta imagen sin deformar */
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
  }
  
.card {
    width: 24rem;      /* Ancho */
    height: 30rem;     /* Alto */
    overflow: hidden;  /* Oculta contenido que sobrepasa */
  }
  
  .card-img-top {
    height: 250px;     /* Altura fija para la imagen */
    object-fit: cover; /* Ajusta imagen sin deformar */
  }
